<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex facilis
          voluptatibus explicabo ad quis, quibusdam blanditiis reprehenderit
          magni, sapiente a tenetur deleniti molestias voluptate provident sunt
          maxime? Quasi, magnam eveniet!
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
          tenetur cum eligendi commodi dignissimos maxime reprehenderit.
          Asperiores eius, ad placeat a fugit iure, ipsa, nihil corporis natus
          unde dicta consequuntur.
        </p>
      </div>
    </div>
  </body>
</html>
