body {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    height: 100px;
    width: 100px;
    background-color: gold;
    transition: transform 2s ease-in-out, background-color 2s ease-in-out;
}

.box:hover {
    transform: rotate(360deg);
    background-color: dodgerblue;
}