body{
    margin: 10px;
}

.boxes{
    width: 11rem;
    height: 9rem;
    border: 3px solid black;
}

.box{
    width: 5rem;
    height: 5rem;
}

.box-one{
    background-color: gold;
}

.box-two{
    background-color: tomato;
    position: relative;
    left: 4rem;
    bottom: 4rem;
    z-index: -1;
}

.box-three{
    background-color: dodgerblue;
        position: relative;
            left: 6rem;
            bottom: 6rem;
            z-index: -2;
}